# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend/tests/__pycache__/test_components.cpython-313-pytest-9.0.2.pyc
.gitignore
backend/tests/__pycache__/test_rockets.cpython-313-pytest-9.0.2.pyc
backend/tests/__pycache__/test_json_conversions.cpython-313-pytest-9.0.2.pyc
backend/tests/__pycache__/test_rocket_configurator.cpython-313-pytest-9.0.2.pyc
backend/__init__.py
